<div class="card bg-light">
  <div class="card-header">
    <h4>Search for Friends</h4>
  </div>
  <div class="card-body">
        <p class="card-text">Adding friends allows you to share recipes amongst one another.</p>
      <form action="/search">
        <div class="form-group">
            <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
      </form>
  </div>
</div>
<br>